Workflow.json
{
  "name": "Resume Screening System",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "449ba0d8-2f6a-4c19-ab55-b96cd7e3898e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eUoUNAa0pwQY20kL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "Save to Selected Sheet",
        "height": 80,
        "width": 150,
        "color": "#317F10"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        -160
      ],
      "id": "24e60d12-f25a-47e1-abcf-6a99c1ee5747",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Save to Rejected Sheet",
        "height": 80,
        "width": 150,
        "color": "#811313"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        288
      ],
      "id": "6ae6bbb7-5922-4def-96be-8a8521b2d5f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Is Score > 80?",
        "height": 80,
        "width": 150,
        "color": "#832F01"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        -112
      ],
      "id": "d4c74577-bc11-4703-9b18-e2c2e3941be6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "📥 New Resume Uploaded",
        "height": 80,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "id": "657e7a6a-29bb-483f-8df0-a19bbdcfa537",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "📂 Get PDF File",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -112
      ],
      "id": "7c44de51-8d7a-4a3d-8b15-fc461ef862b5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "🤖 AI Data Extractor",
        "height": 80,
        "width": 230,
        "color": "#614900"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        -112
      ],
      "id": "6d8b2d7f-c17f-4470-97bb-02f3d8002018",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "🧹 Clean & Format Data",
        "height": 80,
        "width": 150,
        "color": "#724203"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        -112
      ],
      "id": "47db8470-ff3c-4c07-9018-ce100ef3046f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Lookup in Selected Sheet",
        "height": 80,
        "width": 150,
        "color": "#026416"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        -112
      ],
      "id": "906f72c5-873b-4a41-bb07-b21d99f4d92c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Lookup in Rejected Sheet",
        "height": 80,
        "width": 150,
        "color": "#026416"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -112
      ],
      "id": "fbf6f585-3db8-46fa-80cf-abec65acfe09",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Is in Selected?",
        "height": 80,
        "width": 150,
        "color": "#832F01"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        -112
      ],
      "id": "a5ade251-29e0-4e7a-be49-2d81392b8118",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Is in Rejected?",
        "height": 80,
        "width": 150,
        "color": "#832F01"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        -112
      ],
      "id": "a54054ab-41cc-4511-8b20-27cdbceddf53",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Email Selection Letter",
        "height": 80,
        "width": 150,
        "color": "#317F10"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        -160
      ],
      "id": "0203ad0f-a435-4264-b2fa-0dcd5b9bdc1e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Email Regret Letter",
        "height": 80,
        "width": 150,
        "color": "#811313"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2352,
        288
      ],
      "id": "dc39e779-ef10-40b5-9576-1c0d654ebbb7",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Fetch Calendar Meetings",
        "height": 80,
        "width": 150,
        "color": "#614900"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        320
      ],
      "id": "4f2fe497-7201-4b5a-b1b0-cfbb322ef070",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Lookup Current Status",
        "height": 80,
        "width": 150,
        "color": "#026416"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        320
      ],
      "id": "1840a905-8015-47f7-970f-0fc1e33b52fb",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Is Already Notified?",
        "height": 80,
        "width": 150,
        "color": "#832F01"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        320
      ],
      "id": "a1d155f0-3a87-4d14-9f0e-fa71e87ef914",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "Sync Interview Date",
        "height": 80,
        "width": 166,
        "color": "#026416"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        352
      ],
      "id": "35453996-83f6-4cba-9568-d661c48e5854",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "Send Interview Details",
        "height": 80,
        "width": 166,
        "color": "#026416"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        336
      ],
      "id": "22f31eec-0308-4656-94f9-e449b3b9b91c",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "📄 Read Resume Text",
        "height": 80,
        "width": 150,
        "color": "#031B63"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -112
      ],
      "id": "ee8b1c50-61f8-4874-9061-bad25d42db87",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16GMTBXpLW5CZ8ZQLT6xnerHRRO9LkxG9",
          "mode": "list",
          "cachedResultName": "Resumes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16GMTBXpLW5CZ8ZQLT6xnerHRRO9LkxG9"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "134ddfc7-8a78-478c-a9ce-45222b311e4c",
      "name": "Watch New Resumes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pNLfF4BXvhbSESe9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Watch New Resumes\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        0
      ],
      "id": "d425b868-e408-41d7-876b-02ed8334cd58",
      "name": "Fetch Resume File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pNLfF4BXvhbSESe9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "f43bf485-b8df-4f24-b281-1e320fa1fa31",
      "name": "Parse PDF Content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following resume text carefully:\n{{ $json.text }}\n\nTarget Job Description:\nSenior Java Developer (Spring Boot, Microservices, AWS)\n\nSYSTEM RULES (STRICT COMPLIANCE REQUIRED):\n1. Respond ONLY with a valid JSON object. \n2. DO NOT include introductory text, conversational filler, or markdown code blocks (NO ```json).\n3. Extract the candidate's name, email, and calculate a matching score out of 100 based on the job description.\n4. If a piece of information is missing, use \"N/A\".\n\nUse this EXACT JSON structure:\n{\n  \"name\": \"Full Name\",\n  \"score\": 95,\n  \"email\": \"email@example.com\",\n  \"skills\": [\"Skill 1\", \"Skill 2\"],\n  \"summary\": \"Short professional summary\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        0
      ],
      "id": "82a1e801-c02d-4d2f-ac73-ca19b9208b28",
      "name": "Gemini Skills Evaluator"
    },
    {
      "parameters": {
        "jsCode": "let rawData = $input.first().json.output;\n\nif (typeof rawData === 'string') {\n  rawData = rawData.replace(/```json/g, '').replace(/```/g, '').trim();\n  \n  const jsonStart = rawData.indexOf('{');\n  const jsonEnd = rawData.lastIndexOf('}');\n  if (jsonStart !== -1 && jsonEnd !== -1) {\n    rawData = rawData.substring(jsonStart, jsonEnd + 1);\n  }\n}\n\ntry {\n  const output = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n\n  return {\n    name: output.name || \"N/A\",\n    score: parseInt(output.score) || 0,\n    email: output.email || \"N/A\",\n    skills: Array.isArray(output.skills) ? output.skills.join(', ') : (output.skills || \"N/A\"),\n    summary: output.summary || \"\"\n  };\n} catch (e) {\n  return {\n    error: \"Parsing Failed\",\n    debug_raw: rawData,\n    name: \"Extraction Error\",\n    score: 0,\n    email: \"N/A\",\n    skills: \"N/A\",\n    summary: \"AI output was not in valid JSON format.\"\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "475dabce-341e-4243-aeaa-e22f82e9d801",
      "name": "Clean & Format Data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow",
          "mode": "list",
          "cachedResultName": "Resume_Selected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "529380f0-81ba-4014-9483-8a8ad890daf9",
      "name": "Check Existing Selected",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5916321-1a02-40f4-8b06-6037f0bc129b",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "dd2f25ac-6a95-4c7a-b591-2b33c3535c86",
      "name": "Is Already Shortlisted?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KfBdNv7v_Qnw7NBS4T1PeNVyj3qSvbyqtHNb4WytwMA",
          "mode": "list",
          "cachedResultName": "Resume_Rejected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfBdNv7v_Qnw7NBS4T1PeNVyj3qSvbyqtHNb4WytwMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfBdNv7v_Qnw7NBS4T1PeNVyj3qSvbyqtHNb4WytwMA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Clean & Format Data').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        16
      ],
      "id": "41b740f1-e32f-4712-b602-b1fa990a6e25",
      "name": "Check Existing Rejected",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5916321-1a02-40f4-8b06-6037f0bc129b",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        16
      ],
      "id": "1ae55f65-dc2c-4988-8035-60f05b803035",
      "name": "Is Already Rejected?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01c85928-8683-4cab-a35e-9b0a5a130053",
              "leftValue": "={{ $('Clean & Format Data').item.json.score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        32
      ],
      "id": "b9539958-4eaa-4ec7-b6fd-2d331a4cdf35",
      "name": "Final Decision (Score > 80?)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow",
          "mode": "list",
          "cachedResultName": "Resume_Selected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Clean & Format Data').item.json.name }}",
            "Score": "={{ $('Clean & Format Data').item.json.score }}",
            "Skills ": "={{ $('Clean & Format Data').item.json.skills }}",
            "Summary": "={{ $('Clean & Format Data').item.json.summary }}",
            "Email": "={{ $('Clean & Format Data').item.json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills ",
              "displayName": "Skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2176,
        -64
      ],
      "id": "62e63f93-349e-4831-83b6-57da9112f44f",
      "name": "Log Selected Candidate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Clean & Format Data').item.json.email }}",
        "subject": "=Congratulations! You are Shortlisted {{ $('Clean & Format Data').item.json.name }}",
        "emailType": "text",
        "message": "=Hi{{ $('Clean & Format Data').item.json.name }} ,  We have checked your resume and we are happy to tell you that you are shortlisted! Your matching score is {{ $('Clean & Format Data').item.json.score }}/100.\nPlease feel free to choose a convenient time for your interview by clicking the link below:\nhttps://calendar.app.google/FninrQbcYFVTVaV37\n\nBest regards,   HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        -64
      ],
      "id": "6a6e34d1-9d2d-4c9a-aea7-fc9e771f800c",
      "name": "Send Interview Invitation",
      "webhookId": "7597e301-f9f3-4c70-a219-61ddeba38bd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "bEkHZLjP48HKWSFH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KfBdNv7v_Qnw7NBS4T1PeNVyj3qSvbyqtHNb4WytwMA",
          "mode": "list",
          "cachedResultName": "Resume_Rejected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfBdNv7v_Qnw7NBS4T1PeNVyj3qSvbyqtHNb4WytwMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfBdNv7v_Qnw7NBS4T1PeNVyj3qSvbyqtHNb4WytwMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Clean & Format Data').item.json.name }}",
            "Email": "={{ $('Clean & Format Data').item.json.email }}",
            "Score": "={{ $('Clean & Format Data').item.json.score }}",
            "Summary": "={{ $('Clean & Format Data').item.json.summary }}",
            "Skills ": "={{ $('Clean & Format Data').item.json.skills }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Skills ",
              "displayName": "Skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2176,
        128
      ],
      "id": "89918af0-8150-439e-ae06-794c0d5352dd",
      "name": "Log Rejected Candidate",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Congratulations! You are Shortlisted - {{ $('Clean & Format Data').item.json.name }}",
        "emailType": "text",
        "message": "=Hi {{ $('Clean & Format Data').item.json.name }},\n\nThank you for taking the time to apply for the Senior Java Developer position and for sharing your resume with us.\n\nAfter carefully reviewing your profile and skills assessment, we have decided to move forward with other candidates who more closely match our current requirements.\n\nWe will, however, keep your resume in our database for future opportunities that might be a better fit. We wish you the very best of luck with your job search and professional endeavors.\n\nBest Regards,\nRecruitment Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        128
      ],
      "id": "5cc4751f-1d54-4705-b9f4-90e3f800c9ba",
      "name": "Send Rejection Email",
      "webhookId": "7597e301-f9f3-4c70-a219-61ddeba38bd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "bEkHZLjP48HKWSFH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        560,
        432
      ],
      "id": "6c9fe5a0-fdd1-43a5-a3cb-77d90cad1b4d",
      "name": "Check Every Hour"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alisraza123@gmail.com",
          "mode": "list",
          "cachedResultName": "alisraza123@gmail.com"
        },
        "timeMin": "={{ $now.minus({ minutes:20 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        784,
        432
      ],
      "id": "063a0232-7b88-4d6a-a555-8a2c472f5f26",
      "name": "Fetch Calendar Bookings",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mBjidkX5ZT8QsQpC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow",
          "mode": "list",
          "cachedResultName": "Resume_Selected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.attendees[1].email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        432
      ],
      "id": "8ee1ed2b-431d-45e2-895a-6313d372955e",
      "name": "Validate Booking Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3eff20f1-3c99-4ed7-879c-efda08deff34",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "={{ $json.Status }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        432
      ],
      "id": "65f4cbb6-2ca7-451a-9904-d36114dc9064",
      "name": "Needs Notification?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow",
          "mode": "list",
          "cachedResultName": "Resume_Selected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Interview Schedule",
            "Email": "={{ $json.Email }}",
            "row_number": 0,
            "Interview Date": "={{ $('Fetch Calendar Bookings').item.json.start.dateTime }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Skills ",
              "displayName": "Skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interview Date",
              "displayName": "Interview Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        416
      ],
      "id": "2ae9f8c0-154b-44c2-b163-d8788dfd7aeb",
      "name": "Sync Interview Status",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow",
          "mode": "list",
          "cachedResultName": "Resume_Selected_Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eE4wjYTL-cHdAZ_M-QdGDumyu_doSGnMt-jIrI7wfow/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        416
      ],
      "id": "b85fc27a-b824-45fa-8a67-5cf3fb47bf83",
      "name": "Fetch Candidate Info",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbzaiYxbuj2kpwA8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Interview Confirmed: AR Devs",
        "message": "=Dear {{ $json.Name }},<br><br>\n\nI hope this email finds you well. This is to confirm that your interview has been successfully scheduled.<br><br>\n\n<b>Date & Time:</b> {{ $json['Interview Date'] }}<br>\n<b>Meeting Link:</b> {{ $('Fetch Calendar Bookings').item.json.conferenceData.entryPoints[0].uri }}<br><br>\n\n<b>A few things to keep in mind:</b><br>\n* Please ensure you have a stable internet connection.<br>\n* Join the meeting 5 minutes early to test your camera and microphone.<br><br>\n\nBest of luck!<br><br>\n\nBest regards,<br>\n<b>AR Dev's</b>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1808,
        416
      ],
      "id": "7152d9cc-b8db-4835-9655-c540f8e6ab7b",
      "name": "Send Confirmation Email",
      "webhookId": "0453ca1f-8e80-4f5c-9a5f-8f4281d98c1d",
      "credentials": {
        "gmailOAuth2": {
          "id": "bEkHZLjP48HKWSFH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Skills Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Watch New Resumes": {
      "main": [
        [
          {
            "node": "Fetch Resume File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Resume File": {
      "main": [
        [
          {
            "node": "Parse PDF Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDF Content": {
      "main": [
        [
          {
            "node": "Gemini Skills Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Skills Evaluator": {
      "main": [
        [
          {
            "node": "Clean & Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Format Data": {
      "main": [
        [
          {
            "node": "Check Existing Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Selected": {
      "main": [
        [
          {
            "node": "Is Already Shortlisted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Already Shortlisted?": {
      "main": [
        [],
        [
          {
            "node": "Check Existing Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Rejected": {
      "main": [
        [
          {
            "node": "Is Already Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Already Rejected?": {
      "main": [
        [],
        [
          {
            "node": "Final Decision (Score > 80?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Decision (Score > 80?)": {
      "main": [
        [
          {
            "node": "Log Selected Candidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Selected Candidate": {
      "main": [
        [
          {
            "node": "Send Interview Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Interview Invitation": {
      "main": [
        []
      ]
    },
    "Log Rejected Candidate": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Calendar Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Calendar Bookings": {
      "main": [
        [
          {
            "node": "Validate Booking Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Booking Status": {
      "main": [
        [
          {
            "node": "Needs Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Notification?": {
      "main": [
        [
          {
            "node": "Sync Interview Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Interview Status": {
      "main": [
        [
          {
            "node": "Fetch Candidate Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Info": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4900ff90-48ba-4069-a622-c8d6c6f68ad6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef1fd7405c4bd74d5364d89035a513ea0f895fd3c78ee472cf09b0aab4a9675e"
  },
  "id": "1gN8BIgI89g43G09",
  "tags": []
}